.reviewsContainer {
  padding: 50px 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
}

.reviews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-weight: 500;
  line-height: 50px;
  font-size: 35px;
  width: 40%;
}

.mainText {
  width: 45%;
  text-align: center;
}
