.aboutContainer {
  padding: 50px 110px;
  display: flex;
  justify-content: space-between;
}

.mainText {
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  margin: 0;
}

.mainVPN {
  margin-left: 10px;
  font-weight: 700;
}

.infoText {
  line-height: 30px;
  font-weight: 400;
}
