.abtCntContainer {
  padding: 17px 125px 17px 125px;
  margin: 35px 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid #e5e7eb;
}

.abtCntContainer:last-child {
  border: 0;
}

.abtCntTextContainer {
  margin-left: 35px;
}

.abtCntCount {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 25px;
}

.abtCntText {
  margin-top: 10px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
}
